<div [class.fade-in-container]="!isLogoInitial">
  <img class="flights-logo"
       [class.flights-logo--initial]="isLogoInitial"
       alt="Angular Logo"
       src="/assets/images/logo-hd.jpg">
  <h1 class="flights-title"
      [class.flights-logo--initial]="isLogoInitial">
    BOTLOT
  </h1>
  <div class="flights-container">
    <div class="controls">
      <form>
        <mat-form-field>
          <input matInput
                 placeholder="Search"
                 (keyup)="onSearchKeyUp($event)">
        </mat-form-field>
      </form>
      <button mat-raised-button
              class="sort-button"
              (click)="sortFlightsByTotalAndFixMissingData()">
        Sort by Total
      </button>
      <button mat-raised-button
              class="sort-button"
              (click)="sortFlightsByPricePerDayAndFixMissingData()">
        Sort by Price Per Day
      </button>
      <button mat-raised-button
              class="sort-button"
              (click)="sortFlightsByFlightCostAndFixMissingData()">
        Sort by Flight Cost
      </button>
    </div>
    <div *ngIf="progress < 100"
         class="my-5 text-center w-100">
    <span *ngIf="flightsCount > 1"
          class="ml-3">
      {{ progress * flightsCount / 100 + ' / ' + flightsCount + ', time left: ' + timeLeft + ' s' }}
    </span>
      <mat-progress-bar *ngIf="flightsCount > 1"
                        class="flights-progress-bar"
                        mode="determinate"
                        color="primary"
                        [value]="progress">
      </mat-progress-bar>
      <span *ngIf="flightsCount === 1" class="ml-3">Loading flights</span>
      <mat-progress-bar *ngIf="flightsCount === 1"
                        class="flights-progress-bar"
                        mode="indeterminate"
                        color="primary">
      </mat-progress-bar>
    </div>
    <div *ngFor="let flight of displayedFlights">
      <div *ngIf="flight.weekend && flight.arrival && flight.depart"
           class="flight-row"
           [matTooltip]="'Arrival airline: ' + flight.arrival.airline + ', ' + 'Departure airline: ' + flight.depart.airline"
           [class.flight-row--error]="!flight.hotel
                               || (!flight.arrival.endDistance && !flight.arrival.startDistance)
                               || !flight.arrival.endTaxiCost">
        <div class="flight-cell">
          <strong>City to:&nbsp;</strong>
          {{ flight.arrival.city + ' (' + flight.arrival.country + ')' }}
        </div>
        <div *ngIf="flight.arrival.city !== flight.depart.city"
             class="flight-cell">
          <strong>City from:&nbsp;</strong>
          {{ flight.depart.city + ' (' + flight.depart.country + ')' }}
        </div>
        <div class="flight-cell">
          <strong>Date:&nbsp;</strong>
          {{ flight.weekend.startDay + ' / ' + flight.weekend.endDay + ' (from ' + getDayName(flight) + ')' }}
        </div>
        <div class="flight-cell">
          <strong>Cost per day:&nbsp;</strong>
          {{ getPricePerDay(flight) }}
        </div>
        <div class="flight-cell">
          <strong>Total Cost:&nbsp;</strong>
          {{
          flight.summary
          + ' (' + flight.cost + ' zł + '
          + (flight.hotel ? flight.hotel.cost : 0) + ' zł + '
          + (flight.arrival.startTaxiCost || '0') + ' zł + '
          + (flight.arrival.endTaxiCost || '0') + ' zł)'
          }}
        </div>
        <div class="flight-cell">
          <strong>Hotel:&nbsp;</strong>
          {{ flight.hotel ? flight.hotel.name : 'Unknown' }}
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
