.flight-cell {
  display: inline-block;
  margin-right: 2rem;
  min-width: 300px;
}

.flight-row-error {
  color: gray;
}

.full-width {
  width: 100%;
}

.progress {
  &-bar {
    width: 75%;
    display: inline-block;
  }
  &-info {
    width: 10%;
    margin: 1rem;
    display: inline-block;
  }
}

.sort-button {
  margin: 1rem;
  width: 10%;
}
