@import '~@angular/material/theming';

@include mat-core();

$flights-app-primary: mat-palette($mat-orange);
$flights-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$flights-app-warn: mat-palette($mat-red);
$flights-app-theme: mat-light-theme($flights-app-primary, $flights-app-accent, $flights-app-warn);

@include angular-material-theme($flights-app-theme);
